.header__logo {
  width: 142.01px;
  height: 33.4px;
  margin: 45px 0 40.6px 0;
}

@media screen and (max-width: 882px) {
  .header__logo {
    margin-left: 27px;    
    margin-bottom: 31.6px;
    margin-top: 28px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}