.header__link {
  color: white;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  transition: 0.25s;
}

.header__link:hover {
  opacity: 0.6;
  cursor: pointer;

}@media screen and (max-width: 882px) {
  .header__link {
    margin-right: 27px;
  }
}

@media screen and (max-width: 320px) {
  .header__link {
    font-size: 14px;
  }
}
