.profile__name-container {
  grid-area: name;
  display: flex;
  align-items: flex-end;  
  white-space: nowrap;  
}

@media screen and (max-width: 882px) {
  .profile__name-container {
    justify-self: center;
  }
}